<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kindler Search</title>
</head>
<body class="home">
    <h2>🔎 Kindler Search</h2>
    <form action="{{ url_for('home.search') }}" method="get">
        <label for="input_text">{{ label }}</label>
        <input id="input_text" type="text" name="q" placeholder="Search the web...">
        <br>
        <input type="submit" value="Search">
    </form>
</body>
</html>