<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | safe }}</title>
</head>
<body>
    <form action="{{ url_for('home.search') }}" method="get">
        <a href="{{ request.referrer or url_for('home.home') }}">← Back</a> |
        <input type="text" id="q" name="q" size="40" value="{{ query }}">
        <input type="submit" value="Search">
    </form>
    <hr>
    <pre>Original Source: <a href="{{ url }}">{{ url }}</a><br>[<a href="{{ url_for('home.save_page', url=url, format='html') }}">.html</a>][<a href="{{ url_for('home.save_page', url=url, format='epub') }}">.epub</a>][<a href="{{ url_for('home.save_page', url=url, format='mobi') }}">.mobi</a>][<a href="{{ url_for('home.save_page', url=url, format='azw3') }}">.azw3</a>]
    </pre>
    <h1>{{ title | safe }}</h1>
    <div>
        {{ content | safe }}
    </div>
</body>
</html>
